/.idea/workspace.xml
/.idea/eDetailingProjectControlMatrickage.iml
/tmp/pids/server.pid
/tmp/cache/assets/development/sprockets/f7cbd26ba1d28d48de824f0e94586655
/tmp/cache/assets/development/sprockets/2f5173deea6c795b8fdde723bb4b63af
/log/development.log
/tmp/cache/assets/development/sprockets/a899e19256a0845205636938010c6fe5
/tmp/cache/assets/development/sprockets/700827acd727b6fc8361f454c68a5cd7