//
// eDetailing project Fonts

@font-face {
	font-family: 'KorneuburgSlabRegular';
	src: url('fonts/Korneuburg-Slab-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KorneuburgSlabLight';
	src: url('fonts/Korneuburg-Slab-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CreteRoundRegular';
	src: url('fonts/CreteRound-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
